@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    box-sizing: border-box;
    background-color: #EEF9BF;
}
.Tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Titulo {
    font-family: 'Roboto', sans-serif;
    height: 63px;
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.Baralho {
    padding: 24px 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
}

.Carta {
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d; 
    display: flex;
}

.virada {
    transform: rotateY(180deg);
}

.FaceCarta {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.FrenteCarta {
    transform: rotateY(180deg);
}
    
.FrenteCarta img {
    width: 85px;
}

.VersoCarta img {
    height: 100px;
    width: 100px;
}
.Tempo{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 10px;
}
@media only screen and (max-width: 600px) {
    .Titulo {
        font-size: 36px;
        line-height: 42px;
    }

    .Baralho {
        flex-direction: column;
        align-items: center;
    }
}